#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  min-width: 850px;
  margin: 0 auto;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}

.btn-circle {
  width: 60px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  line-height: 1.42;
  border-radius: 15px;
}

